@use "../abstracts" as *;

.progress {
  width: 99%;
  height: 0.2rem;
  background-color: $g;
  border-radius: 100px;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.5rem;
    height: 0.5rem;
    background-color: $orange;
    border-radius: 50%;
  }
}
