@use "../abstracts/" as *;

main {
  .main-content {
    padding: 2.6rem 10%;
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.3rem;
      p {
        color: $g;
      }
      .pp {
        width: 2.6rem;
        height: 2.6rem;
        border-radius: 50%;
      }
    }

    .suggestion {
      margin-top: 2.6rem;
      &__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__content_h2_list {
          h2 {
            font-size: $font-m;
          }
          ul {
            display: flex;
            gap: 0.5rem;
            li {
              color: $g;
              &.selected {
                color: $orange;
              }
            }
          }
        }
        &__content_button {
          display: flex;
          align-items: center;
          img {
            filter: $filter-w;
          }
        }
      }

      &__audios {
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-areas:
          "card1 card2 bc"
          "card3 card4 bc";
        gap: 0 1.3rem;
        article {
          // min-width: 11.7vw;
          &:nth-child(1) {
            grid-area: card1;
          }
          &:nth-child(2) {
            grid-area: card2;
          }
          &:nth-child(3) {
            grid-area: bc;
          }
          &:nth-child(4) {
            grid-area: card3;
          }
          &:nth-child(5) {
            grid-area: card4;
          }
        }
      }
    }

    .players {
      margin: 2.4rem 0 3.7rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2.5rem;
    }

    .other-categories {
      &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          font-size: $font-m;
        }
      }
      &__audios {
        margin: 1rem 0 1.5rem;
        overflow-x: scroll;
        scroll-snap-type: x proximity;
        display: flex;
        gap: 1.2rem;
        article div {
          width: 16.2rem;
        }
        &::-webkit-scrollbar {
          height: 0.5rem;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $dg;
          border-radius: 10px;
        }
        &::-webkit-scrollbar-track {
          margin: 0 clamp(10px, 40vh, 200px);
          background: $g;
          border-radius: 10px;
        }
      }
    }
  }
  .buttons-list {
    display: flex;
    justify-content: space-between;
    li {
      a img,
      button img {
        filter: $filter-w;
      }
    }
  }
}

@media screen and (max-width: 1124px) {
  nav {
    display: none !important;
  }

  .players {
    display: none !important;
  }

  .suggestion {
    margin-top: 0;
    &__top {
      &__content_h2_list {
        ul {
          display: none !important;
        }
      }
      &__content_button {
        display: none !important;
      }
    }
    &__audios {
      grid-template-areas:
        "card1 card1 card2 card2"
        "card3 card3 card4 card4"
        "bc bc bc bc  " !important;
      article {
        &:nth-child(1) {
          grid-area: card1;
        }
        &:nth-child(2) {
          grid-area: card2;
        }
        &:nth-child(3) {
          grid-area: bc;
        }
        &:nth-child(4) {
          grid-area: card3;
        }
        &:nth-child(5) {
          grid-area: card4;
        }
      }
    }
  }

  .other-categories {
    &__title {
      div {
        display: none;
      }
    }
    &__audios {
      &::-webkit-scrollbar-track {
        margin: 0 clamp(10px, 10vh, 200px) !important;
      }
    }
  }
}
