@use "../abstracts" as *;

.aside-left {
  position: fixed;
  width: 20%;
  background-color: $w;
  padding: 1.9rem 0 0 1.9rem;
  height: 100vh;
  max-width: 18rem;
  div {
    margin-bottom: 4.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  nav {
    h2 {
      color: $g;
      margin-bottom: 1.5rem;
    }
  }
}

@media screen and (max-width: 912px) {
  .aside-left {
    display: none;
  }
}
