@use "../abstracts" as *;

@mixin button($color: $b, $bgc: transparent) {
  width: fit-content;
  color: $color;
  background-color: $bgc;
  padding: 0.5rem 0.7rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn {
  @include button();

  &-white {
    @include button($b, $w);
  }
  &-orange {
    @include button($w, $orange);
  }
  &-gray {
    @include button($w, $g);
  }
}
